KALSHI_API_KEY_ID="<YOUR_KALSHI_API_ID>"
KALSHI-PRIVATE-KEY = "-----BEGIN RSA PRIVATE KEY-----
FAKEKEYFAKEKEYFAKEKEYFAKEKEYFAKEKEYFAKEKEYFAKEKEY
-----END RSA PRIVATE KEY-----"
ODDS-API-KEY = "<YOUR_ODDS_API_KEY>"
